.page-login {
  height: 100vh;
  width: 100%;
}

.page-login .ant-form-item {
  margin-bottom: 30px;
}

.page-login .page-login-content {
  background-image: url("../../assets/images/login/login_bg.png");
  height: 100%;
}

.page-login img.login-bottom-img {
  position: fixed;
  bottom:0 ;
  left: 0;
}

.page-login .ant-form {
  background-color: transparent;
  font-family: FontAwesome;
  width: 385px;
  height: 350px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-login .ant-input {
  position: relative;
  width: 380px;
  height: 50px;
  line-height: 50px;
  padding-left: 81px;
  border: 2px solid #1368a5;
  border-radius: 8px!important;
  font-family: FontAwesome;
  font-size: 16px;
  color: #f3f3f3;
  background-color: transparent;
}

.page-login .login_input_icontext {
  position: absolute;
  left: 24px;
  top: 20px;
  display: inline-block;
  border-right: 2px solid #f3f3f3;
  color: #f3f3f3;
  font-size: 16px;
  padding-right: 10px;
  height: 14px;
  line-height: 14px;
}

.page-login .login_text_verifycode.ant-input {
  padding-left: 25px;
  width: 156px;
}

.page-login .login-form-button {
  width: 380px;
  height: 50px;
  background-image: linear-gradient(to right, #3c51ee, #08b8fc);
  border-radius: 8px;
  color: #fffcfc;
  font-size: 16px;
  border: 0;
}
